<html>
	<head>
		<title>
			Score Index
		</title>
		<script src="/static/verovio-toolkit.js"></script>
		<script src="/static/jquery.js"></script>
	</head>
	<body>
		<h1> Score Index Page </h1>
		<h3> Use the links below to navigate to the given composer's score </h3>
		<ul>
			{% for score in score_list %}
				<li>
					<a href="score_viewer/{{score.composer}}">{{score.composer}}</a>
				</li>
			{% endfor %}
		</ul>

		<script type="text/javascript">
			function GetURLParameter(sParam) {
			    var sPageURL = window.location.search.substring(1);
	        	var sParameterName = sPageURL.split('=');
		        if (sParameterName[0] === sParam) {
		            return sParameterName[1];
		        }
			}
			var qScore = GetURLParameter("score");
			var scores = ['chopin', 'brahms']
			for (var i = 0; i < scores.length; i++) {
				if (qScore === scores[i]) {
					window.location.assign(scores[i]+".html");
				}
			} 
		</script>
	</body>
</html>